data/
*.zip
*.mp4
*.mp3
*.mov
*.MOV
*.png
*.jpg
*.jpeg
*.rar
*.wav
*.csv
!exploration/yamnet_class_map.csv
!assets/confusion_matrix.png
.vscode/
checkpoints/
__pycache__/
.ipynb_checkpoints/
*.pyc
.DS_Store
.env
venv/
